code {
    background-color: rgb(156, 156, 156);
}

section, header {
    margin: 50px;
}
body {
    background-color: rgb(100, 100, 100);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
#convert {
    background-color:rgb(70, 103, 250);
    border: 2px solid grey;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgb(14, 14, 14);
    color: white;
    padding: 10px;
}
#convertField {
    border: 2px solid grey;
    border-radius: 4px;
    padding: 10px;
}